page-zhuye {

  .type-img-avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 36px;
    height: 36px;
    padding-top: 2px;
  }

  .type-h2 {
    margin: 0 0 2px;
    font-size: 1.7rem;
    font-weight: normal;
  }

  .col-tiao {
    background-color:#8c8c8c;
    height: 2px;
  }

  ion-col {
    //border-style: solid 1em;
  }


}
